/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

.bigred {
    font-size: 20px;
    color: red;
}
/* Import and declare body font */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Jost', sans-serif;
    font-style: normal;
    background: #F8F8F7;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #F8F8F7;
}

/* Left Block */

.left-block {
    width: 458px;
    margin: 0 0 0 7%;
}

.left-block__content {
    position: fixed;
}

.logo {
    margin: 38px 0 75px -12px;
}

.left-block__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 58px;
    color: #1D1D1D;
}

.left-block__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8C8C8C;
    margin: 10px 0 60px 0;
}

.left-block__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #1D1D1D;
}

.left-block__sections {
    display: flex;
    flex-direction: row;
    margin: 20px 0 10px 0;
}

.left-block__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-block__item {
    border-radius: 20px;
    width: 138px;
    margin: 0 10px 10px 0;
}

.left-block__item:last-child{
    margin: 0 0 0 16px;
}

.left-block__item.item_1{
    background: #B4B7FF;
    border: 4px solid rgba(255, 255, 255, 0.6);
}
.left-block__item.item_2 {
    background: #97EAB9;
    border: 4px solid rgba(255, 255, 255, 0.6);
}
.left-block__item.item_3 {
    background: #FFD280;
    border: 4px solid rgba(255, 255, 255, 0.6);
}

.left-block__btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FF868E;
    text-transform: uppercase;
    width: 138px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 16px 0 0;
}

/* --Left Block-- */

.right-block {
    background: #FBE0DC;
    width: 680px;
    height: 840px;
    overflow: hidden auto;
    border-radius: 20px;
    margin: 30px 30px 30px 0;
    position: relative;
}

.right-block::-webkit-scrollbar{
    display: none;
}

.right-block__main-photo{
    position: absolute;
    top: -100px;
}

.right-block__nav {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
}

.right-block__searcher input{
    width: 470px;
    height: 60px;
    border-radius: 20px;
    padding: 0 0 0 20px;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1D1D1D;
}

.right-block__searcher input::placeholder{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8C8C8C;
}

.right-block__searcher input:hover{
    border: 2px solid #FBE0DC;
}
.right-block__searcher input:hover::placeholder{
    color: #fff;
}

.right-block__searcher input:active{
    border: 2px solid #FF868E;
}
.right-block__searcher input:active::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1D1D1D;
}

.right-block__search-btn button{
    width: 40px;
    height: 40px;
    background: #FBE0DC;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 420px;
    background-image: url(/img/icons/search-20.png);
    background-repeat: no-repeat;
    background-position: center;
}

.right-block__search-btn button:hover{
    background: #FF868E;
    background-image: url(/img/icons_white/search-white-20.png);
    background-repeat: no-repeat;
    background-position: center;
}

.right-block__icon button{
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 20px;
    margin: 0 0 0 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.tab_1 button{
    background-image: url(/img/icons/like-30.png);
}
.tab_2 button{
    background-image: url(/img/icons/fav-30.png);
}
.tab_3 button{
    background-image: url(/img/icons/dislike-30.png);
}

.right-block__nav:last-child{
    margin: 0;
}

.right-block__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 680px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

.right-block__block-nav {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 0 0 20px 0;
}

.right-block__back_btn button{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #FBE0DC;
    background-image: url('/img/icons/back-20.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 0 10px 0 0;
}

.right-block__back_btn button:hover{
    background: #FF868E;
    background-image: url('/img/icons_white/back-white-20.png');
    background-position: center;
    background-repeat: no-repeat;
}

.right-block__section-title {
    width: 156px;
    padding: 5px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    background: #FF868E;
    border-radius: 10px;
}

.right-block__image {
    position: relative;
    margin: 0 0 52px 0;
}

.right-block__variants {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background: #fff;
    border: 4px solid #fff;
    position: absolute;
    top: 465px;
}

.right-block__voting-icon {
    margin: 0 4px 0 0;
    padding: 40px;
}

.right-block__voting-icon:last-child{
    margin: 0;
}

.icon_1{
    background: #97EAB9;
    background-image: url('/img/icons_white/like-white-30.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 0 0 20px;
}

.icon_2 {
    background: #FF868E;
    background-image: url('/img/icons_white/fav-white-30.png');
    background-position: center;
    background-repeat: no-repeat;
}
.icon_3 {
    background: #FFD280;
    background-image: url('/img/icons_white/dislike-white-30.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 20px 20px 0;
}

.icon_1:hover {
    background: rgba(151, 234, 185, 0.3);
    background-image: url(/img/icons/like-color-30.png);
    background-position: center;
    background-repeat: no-repeat;
}
.icon_2:hover {
    background: rgba(255, 134, 142, 0.3);
    background-image: url(/img/icons/fav-30.png);
    background-position: center;
    background-repeat: no-repeat;
}
.icon_3:hover {
    background: rgba(255, 210, 128, 0.3);
    background-image: url(/img/icons/dislike-color-30.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icon_2:active {
    background-image: url(/img/icons_white/fav-full-white-30.png);
    background-position: center;
    background-repeat: no-repeat;
}

.right-block__actions-history {
    align-self: flex-start;
}

.right-block__action {
    display: flex;
    flex-direction: row;
    width: 640px;
    background: #F8F8F7;
    border-radius: 10px;
    padding: 15px 20px 15px 25px;
    margin: 0 0 10px 0;
}

.right-block__action:last-child{
    margin: 0;
}

.right-bock__action-time {
    background: #fff;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    padding: 3px 10px;
}

.right-bock__action-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
    margin: 0 0 0 20px;
    flex: 1 0 auto;
}

.right-bock__action-text span{
    font-weight: 500;
    color: #1D1D1D;
}

.right-block__list select{
    background: #F8F8F7;
    border-radius: 10px;
    padding: 8px 10px;
    color: #8C8C8C;
}

.breeds_list select{
    width: 226px;
    border: 2px solid #fff;
}

.breeds_list select:hover{
    border: 2px solid #FBE0DC;
}

.breeds_list{
    margin: 0 10px;
}

.limits_list select{
    width: 101px;
    border: 2px solid #fff;
}

.limits_list select:hover{
    border: 2px solid #FBE0DC;
}

.right-block__sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90px;
    margin: 0 0 0 10px;
}

.right-block__sort-item {
    background: #F8F8F7;
    border-radius: 10px;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
}

.right-block__sort-item:hover{
    border: 2px solid #FBE0DC;
}

.sort{
    background-image: url('/img/icons/sort-20.png');
    background-position: center;
    background-repeat: no-repeat;
}
.sort_revert{
    background-image: url('/img/icons/soft-revert-20.png');
    background-position: center;
    background-repeat: no-repeat;
}

.sort:hover{
    background-image: url('/img/icons/sort-color-20.png');
    background-position: center;
    background-repeat: no-repeat;
}
.sort_revert:hover{
    background-image: url('/img/icons/sort-revert-color-20.png');
    background-position: center;
    background-repeat: no-repeat;
}

.right-block__switcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 284px;
}

.right-block__switcher-item button{
    background: #FBE0DC;
    border-radius: 10px;
    padding: 12px 30px;
}

.right-block__switcher-item span{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FF868E;
    text-transform: uppercase;
}

.right-block__switcher-item:first-child img {
    transform: scaleX(-1);
    margin: 1.5px 10px 0 0;
}

.right-block__switcher-item:last-child img {
    margin: 1.5px 0 0 10px;
}

.right-block__breeds {}

.grid_body {
    display: grid;
    width: 640px;
    gap: 20px;
    grid-template-rows: repeat(6, 140px);
    grid-template-columns: repeat(3, 200px);
    margin: 0 0 14px 0;
}

.right-block__grid-item {
    border-radius: 20px;
    position: relative;
}

.right-block__grid-item div {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.right-block__grid-item img{
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.right-block__grid-item div:hover{
    background: rgba(255, 134, 142, 0.6);
}

.right-block__grid-item.item_1{
    grid-column: span 1;
    grid-row: span 2;
}
.right-block__grid-item.item_2 {
    grid-column: span 1;
    grid-row: span 1;
}

.right-block__grid-item.item_3 {
    grid-column: span 1;
    grid-row: span 1;
}
.right-block__grid-item.item_4 {
    grid-column: span 2;
    grid-row: span 2;
}
.right-block__grid-item.item_5 {
    grid-column: span 1;
    grid-row: span 1;
}

.right-block__grid-item.item_6{
    grid-column: span 1;
    grid-row: span 1;
}
.right-block__grid-item.item_7{
    grid-column: span 1;
    grid-row: span 1;
}
.right-block__grid-item.item_8{
    grid-column: span 1;
    grid-row: span 2;
}
.right-block__grid-item.item_9{
    grid-column: span 2;
    grid-row: span 2;
}
.right-block__grid-item.item_10{
    grid-column: span 1;
    grid-row: span 1;
}

.right-block__upload_btn{
    margin: 0 0 0 291px;
}

.right-block__upload_btn button{
    width: 143px;
    background: #FBE0DC;
    border-radius: 10px;
    padding: 12px 0 12px 36px;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FF868E;
    text-transform: uppercase;
    background-image: url('/img/icons/upload-16.png');
    background-repeat: no-repeat;
    background-position: 30px 12px;
}

.right-block__upload_btn button:hover{
    background: #FF868E;
    background-image: url('/img/icons_white/upload-white-16.png');
    background-repeat: no-repeat;
    background-position: 30px 12px;
    color: #fff;
}

.right-block__filter {
    display: grid;
    width: 640px;
    padding: 10px 20px 20px 20px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    background: #F8F8F7;
    border-radius: 20px;
    margin: 0 0 20px 0;
}

.right-block__filter p{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    color: #8C8C8C;
    text-transform: uppercase;
    margin: 0 0 0 10px;
}

.right-block__sec select{
    width: 290px;
    padding: 8px 10px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.right-block__sec select:hover{
    border: 2px solid #FBE0DC;
}

.limit_sec div{
    display: flex;
    flex-direction: row;
}

.limit_sec select{
    width: 240px;
}

.btn_update{
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 0 0 0 5px;
    background-image: url('/img/icons/update-20.png');
    background-position: center;
    background-repeat: no-repeat;
}

.btn_update:hover{
    background: #FF868E;
    background-image: url('/img/icons_white/update-white-20.png');
    background-position: center;
    background-repeat: no-repeat;
}

.right-block__id-breed{
    background: #FF868E;
    border-radius: 10px;
    width: 90px;
    padding: 5px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 0 0 0 10px;
}

.right-block__chosen-breed {}

.right-block__info {
    margin: 51px 0 75px 0;
    width: 640px;
    border-radius: 20px;
    padding: 0 40px 40px 40px;
    border: 2px solid #FBE0DC;
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-template-areas: 'subtitle subtitle' 'temperament origin' 'temperament weigh' 'temperament life';
    gap: 10px;
    position: relative;
}

.right-block__name {
    width: 193px;
    height: 62px;
    background: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: #1D1D1D;
    position: absolute;
    text-align: center;
    top: -31px;
    left: 223px;
}

.right-block__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #8C8C8C;
    text-align: center;
    grid-area: subtitle;
    margin: 31px 0 10px 0;
}

.right-block__temperament, 
.right-block__origin, 
.right-block__weight, 
.right-block__life {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #8C8C8C;
}

.right-block__temperament span,
.right-block__origin span,
.right-block__weight span,
.right-block__life span{
    color: #1D1D1D;
}

.right-block__temperament{
    grid-area: temperament;
}

.right-block__origin {
    grid-area: origin;
}

.right-block__weight {
    grid-area: weigh;
}

.right-block__life {
    grid-area: life;
}

.upload__title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: #1D1D1D;
    margin: 80px 0 10px 0;
}

.upload__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8C8C8C;
}

.upload__subtitle a{
    color: #FF868E;
}

.upload__box-file {
    width: 640px;
    height: 320px;
    border: 2px dashed #FBE0DC;
    border-radius: 20px;
    background: url(/img/icons_white/upload-bg.png) center no-repeat;
    position: relative;
    margin: 40px 0 20px 0;
}

.upload__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #1D1D1D;
    position: absolute;
    top: 145px;
    left: 135.5px;
}

.upload__text span{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1D1D1D;
}

.upload__status {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8C8C8C;
    margin: 0 0 238px 0;
}

.upload__shadow{
    width: 100%;
    height: 200%;
    background: rgba(29, 29, 29, 0.6);
    position: absolute;
    z-index: 2;
}

.right-block{
    z-index: 3;
}

.right-block__search-status{
    align-self: flex-start;
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8C8C8C;
}

.right-block__search-status span{
    font-weight: 500;
    color: #1D1D1D;
}